<div class="counters">
    <div>round: {{ currentRound + 1 }}/{{ totalRounds }}</div>
    <div>score: {{ score }}/{{ totalRounds }}</div>
</div>
<div class="game-container">

    <div id="play-result-container">
        <div *ngIf="!hasChosen">
            <button (click)="handlePlayTrack()" *ngIf="!isPlaying">
                <img id="play-button" src="../../assets/play.png" width=100 height=100 />
            </button>
            <button (click)="handlePlayTrack()" *ngIf="isPlaying">
                <img id="pause-button" src="../../assets/pause.png" width=100 height=100 />
            </button>
        </div>
        <div *ngIf="hasChosen">
            <div class="result" *ngIf="isCorrect">
                <h3>Correct!</h3>
                <img class="mark" src="../../assets/correct.png" width=60 height=60 />
            </div>
            <div class="result" *ngIf="!isCorrect">
                <h3>Nice try!</h3>
                <img class="mark" src="../../assets/wrong.png" width=45 height=45 />
            </div>
        </div>
    </div>

    <div [ngClass]="hasChosen ? 'visible' : 'invisible'" >
        <button id="next-round-button" *ngIf = "currentRound < totalRounds - 1" (click)="nextRound()">
            Next Round
        </button>
        <button id="see-results-button" *ngIf = "currentRound >= totalRounds - 1" (click)="goToResults()">
            See Results
        </button>
    </div>
    
    <div class="options-container options-column">
        <app-option-card
        *ngFor="let artist of this.game.rounds[currentRound].artistList"
        artistName="{{ artist.name }}" 
        picUrl="{{artist.picUrl}}"
        (chooseSelectedOption)="chooseOption(artist.name)"
        [hasChosen]="hasChosen"
        ></app-option-card>
    </div>

</div>
